@import "../variables.scss";

.button-group {
  display: flex;
  overflow: hidden;

  button {
    &:hover {
      opacity: 0.9;
      transform: none;
    }

    &:active {
      transform: none;
    }
  }

  button:nth-child(1) {
    border-radius: 1rem 0 0 1rem;
  }

  button:nth-child(2) {
    border-radius: 0 1rem 1rem 0;
  }
}
