@import "../variables.scss";

.button-group {
  display: flex;
  overflow: hidden;
  height: 100%;

  button {
    &:hover {
      opacity: 0.9;
      transform: none;
    }

    &:active {
      transform: none;
    }
  }

  button:nth-child(1) {
    border-radius: 0.75rem 0 0 0.75rem;
  }

  button:nth-child(2) {
    border-radius: 0 0.75rem 0.75rem 0;
  }
}
