.course-card {
  max-width: 50rem;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--colour-neutral-1100) 100%;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-decoration: none;

  &.is-link {
    transition: transform 0.15s, opacity 0.15s;

    &:hover {
      opacity: 0.8;
      transform: translateY(-0.1rem);
    }

    &:active {
      transform: scale(0.99);
    }
  }

  .course-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .course-terms {
    margin-top: 0.5rem;
  }

  .course-description {
    margin-top: 0.5rem;
    color: var(--colour-neutral-500);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 0.5rem;
  }

  &.instructor-card {
    .course-title {
      margin-bottom: 1rem;
    }
  }
}
