.course-tab-container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  border-radius: 8px;
  overflow: scroll;
  background: var(--colour-neutral-1100) 100%;

  .tabs {
    display: flex;
    background: var(--colour-neutral-1100) 100%;
    border-bottom: 2px solid var(--colour-neutral-900);

    .tab {
      padding: 0.75rem;
      cursor: pointer;
      border: none;
      background: none;
      font-size: 1em;
      color: var(--colour-neutral-400);
      transition: all 0.3s ease;
      position: relative;

      thead {
        background: var(--colour-neutral-1100) 100%;
      }

      &.active {
        color: var(--colour-neutral-000);
        border-bottom: 2px solid var(--colour-sosy-green-800);
        font-weight: bold;
      }

      &:hover {
        color: var(--colour-neutral-000);
        background-color: var(--colour-neutral-900);
      }
    }
  }

  .tab-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colour-neutral-1100);
    border-top: none;
    border-radius: 0 0 8px 8px;
    color: var(--colour-neutral-400);
  }
}
