.course-tab-container {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 2em 0 1em 0;
  border-radius: 8px;
  overflow: scroll;
  background: var(--colour-neutral-1100) 100%;

  .tabs {
    display: flex;
    background: var(--colour-neutral-1100) 100%;
    border-bottom: 2px solid var(--colour-neutral-900);

    .tab {
      padding: 0.75em 1.5em;
      cursor: pointer;
      border: none;
      background: none;
      font-size: 1em;
      color: var(--colour-neutral-400);
      transition: all 0.3s ease;
      position: relative;
      thead {
        background: var(--colour-neutral-1100) 100%;
      }

      &.active {
        color: var(--colour-neutral-000);
        border-bottom: 2px solid var(--colour-sosy-green-500);
        font-weight: bold;
      }

      &:hover {
        color: var(--colour-neutral-000);
        background-color: var(--colour-neutral-900);
      }
    }
  }

  .tab-content {
    background-color: var(--colour-neutral-1100);
    border-top: none;
    border-radius: 0 0 8px 8px;
    color: var(--colour-neutral-400);

    .offering {
      margin: 0;
      table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
        //   background-color: var(--colour-neutral-900);

        th,
        td {
          padding: 0.7em;
          border-bottom: 1px solid var(--colour-neutral-900);
        }

        th {
          background: var(--colour-neutral-1100) 100%;
          color: var(--colour-neutral-000);
        }

        tr.section-details {
          background: var(--colour-neutral-1100) 10%;

          &:last-child {
            td {
              border-bottom: none;
            }
          }
        }
        tr:last-child {
          border-bottom: none;
        }

        tr.toggle-row {
          background-color: var(--colour-neutral-1100); // Dark background
          cursor: pointer;
          transition: background-color 0.3s ease; // Smooth transition for background color

          &:hover {
            background-color: var(
              --colour-neutral-700
            ); // Slightly lighter on hover
          }

          td {
            text-align: center;
            font-weight: bold;
            color: var(--colour-neutral-400); // Light text for contrast
            transition: color 0.3s ease; // Smooth transition for text color
            border-bottom: 0;
          }

          &:hover td {
            color: var(--colour-neutral-000); // White text on hover
          }
        }
      }
    }
  }
}
