.offering {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: rem;
  margin: 0;
  width: 100%;
  max-width: 22rem;
  height: 100%;
  background-color: var(--colour-neutral-1100);
  display: flex;
  flex-direction: column;

  .section-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin: 0.25rem 0;
    background-color: var(--colour-neutral-1000);
    width: 100%;

    .section-header {
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      border-bottom: 1px solid var(--colour-neutral-1100);
      align-items: center;

      &__first {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0.75rem;
      }

      &__second {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 0.75rem;
      }
    }

    .section-schedule-container {
      font-size: 0.9rem;
      max-width: 100%;
      padding: 0.5rem 1rem;
      display: flex;
      flex-direction: column;
      // gap: 0.25rem;

      .section-schedule-row {
        display: flex;
        flex: 1 1 0;
        flex-shrink: 0;
        justify-content: space-between;
        align-items: baseline;
      }
    }

    &.selected-course-section {
      background-color: var(--colour-neutral-1000);

      .section-header {
        padding: 0.4rem 0.75rem;

        &__first {
          margin-bottom: 0.1rem;
        }
      }

      .section-schedule-container {
        padding: 0.3rem 0.75rem 0.5rem;

        .section-schedule-row {
          justify-content: flex-start;
          gap: 1rem;
        }
      }
    }
  }

  .toggle-row {
    margin-top: 1rem;
  }
}

.offering {
  &.selected-courses-offering {
    .section-container {
      margin: 0.15rem 0;
    }

    .toggle-row {
      margin-top: 0.5rem;
      font-size: 0.9rem;
      padding: 0.3rem;
    }
  }
}

.instructor-stats-tooltip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  padding: 0.25rem;

  &__stat {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    width: 1rem;
    height: 1rem;

    &--star {
      fill: #f59e0b;
    }

    &--brain {
      fill: #ec4899;
    }

    &--check {
      fill: #10b981;
    }

    &--comment {
      fill: #0ea5e9;
    }
  }
}
