.container.course-container {
  max-width: 1200px;
}

.course-card-page {
  width: 100%;
  height: fit-content;
  border-radius: 0.5rem;
  background: var(--colour-neutral-1100) 100%;
  padding: 1.25rem;
  transition: transform 0.15s, opacity 0.15s;
  text-decoration: none;
  font-size: 1.1rem;
  .course-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .course-terms {
    margin-top: 0.5rem;
  }

  .course-description {
    margin-top: 0.5rem;
    color: var(--colour-neutral-500);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 0.5rem;
  }
}

.offering {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 3rem;
}
