.container.course-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.course-page-card {
  max-width: 100%;
  width: 60rem;
  height: fit-content;
  border-radius: 0.5rem;
  transition: transform 0.15s, opacity 0.15s;
  text-decoration: none;
  font-size: 1.1rem;
  .course-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .course-description {
    margin-top: 0.5rem;
    color: var(--colour-neutral-500);
  }
}

.offering {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 3rem;
}
