@import "../variables.scss";

.page {
  min-height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
