@import "../variables.scss";

.btn {
  padding: 0.5rem 1rem;
  background-color: var(--colour-sosy-green-800);
  border: none;
  color: var(--colour-neutral-000);
  border-radius: 0.75rem;
  font-size: 1rem;
  transition: all $transition-speed-fast $easing-bounce;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
    transform: translateY(-0.1rem);
  }

  &:active {
    transform: scale(0.99);
  }

  &.secondary {
    background-color: var(--colour-neutral-1000);
  }
}
