.course-card {
  max-width: 50rem;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--colour-neutral-1100) 100%;
  padding: 1.25rem;
  transition: transform 0.15s, opacity 0.15s;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
    transform: translateY(-0.1rem);
  }

  &:active {
    transform: scale(0.99);
  }

  .course-title {
    margin-bottom: 0.5rem;
    font-weight: bold;

    &.dark {
      color: #d1d5db;
    }
  }

  .course-terms {
    margin-top: 0.5rem;
  }

  .course-description {
    margin-top: 0.5rem;

    &.dark {
      color: #9ca3af;
    }
  }
}
